{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> My Pet Data </h1>
{% endblock %}
{% block result_list555 %}

<div class="results">
    <table>

    <thead>
        <tr>
            <th onclick="sortTable(0)"><div class="text"><a href="#">Name</a></div></th>
            <th><div class="text"><a href="#">Age</a></div></th>
            <th><div class="text"><a href="#">Sex</a></div></th>
            <th><div class="text"><a href="#">Species</a></div></th>
            <th><div class="text"><a href="#">Breed</a></div></th>
            <th><div class="text"><a href="#">Date Submitted</a></div></th>
        </tr>
    </thead>

    <tbody>
    {% for row in summary %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.name }} </td>
        <td> {{ row.age }} </td>
        <td> {{ row.sex }} </td>
        <td> {{ row.species }} </td>
        <td> {{ row.breed }} </td>
        <td> {{ row.submission_date}} </td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
    <br><br>
    <h2> Number of males and females </h2>
    <style>
    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 500px;
      padding-top: 100px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }
    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 1;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }

    </style>

    <div class="results">
        <div class="bar-chart">
        {% for x in sex_summary %}
            <div class="bar" style="height:{{ x.count }}%">
                <div class="bar-tooltip">{{ x.sex }}<br>{{ x.count }}</div>
            </div>
        {% endfor %}
        </div>
    </div>

</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

{% endblock %}
{% block pagination %}{% endblock %}

